{{ define "main" }}

<section class="w-full flex flex-col justify-center pt-20">
  <div
    class="lg:container mx-auto my-16 px-6 py-12 pt-0 text-center text-black"
  >
    <h1 class="mb-2">Hi! I'm Chen Ning.</h1>
    <p class="text-lg font-normal">
      Currently a student aspiring to become a software engineer.
    </p>
  </div>
</section>

<!-- SVG wave art -->
<div>
  <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1440 320">
    <path
      fill="#edf2f7"
      fill-opacity="1"
      d="M0,192L48,192C96,192,192,192,288,170.7C384,149,480,107,576,122.7C672,139,768,213,864,229.3C960,245,1056,203,1152,181.3C1248,160,1344,160,1392,160L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
    ></path>
  </svg>
</div>

<!-- Projects -->
<section class="bg-gray-200">
  <div class="lg:container mx-auto p-6">
    <h2>My projects</h2>
  </div>
</section>

<!-- Blog -->
<section class="bg-gray-200">
  <div class="lg:container mx-auto p-6">
    <h2>Latest posts</h2>
    <ul>
      {{ range first 10 .Site.RegularPages }}
 {{ if eq .Type "posts" }}

      <li class="mb-4 hover:bg-gray-100">
        <a href="{{ .Permalink }}">{{ .Title }}</a>
      </li>
      {{ end }}
 {{ end }}

    </ul>
  </div>
</section>

{{ end }}
