/* Default overrides for tailwindcss */

/* Typography */
h1,
h2 {
  @apply font-sans;
  @apply mb-3;
}

h2,
h3,
h4,
h5,
h6 {
  @apply font-medium;
}

h1 {
  @apply font-bold;
  @apply text-4xl;
}

h2 {
  @apply text-3xl;
}

h3 {
  @apply text-2xl;
}

h4 {
  @apply text-xl;
}

h5,
h6,
p,
a,
li {
  @apply text-lg;
}

article a {
  @apply text-gray-700;
}

a:hover {
  @apply underline;
}

/* Forms and buttons */

button:focus {
  @apply outline-none;
}
