/* Default overrides for tailwindcss */

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-sans;
  @apply font-medium;
}

h3,
h4,
h5,
h6 {
  @apply mb-1;
}

h1 {
  @apply text-4xl;
  @apply mb-2;
}

h2 {
  @apply text-3xl;
  @apply mb-3;
}

h3 {
  @apply text-2xl;
}

h4 {
  @apply text-xl;
}

h5,
h6,
p,
a,
li {
  @apply text-lg;
}

article a {
  @apply text-indigo-600;
}

a:hover {
  @apply underline;
}

article p {
  @apply mb-5;
}

/* Forms and buttons */

button:focus {
  @apply outline-none;
}

/* Images */
figure {
  @apply text-center;
  @apply block;
  @apply mb-5;
}

picture {
  @apply inline-block;
  @apply mx-auto;
  @apply bg-gray-200;
}
