{{ define "main" }}

<div class="container mx-auto mt-3 p-6">
  <h1 class="text-center mb-6">{{- .Title -}}</h1>

  <div class="mb-8">
    {{ partial "social-icons.html" . }}

  </div>

  <p class="text-center mb-5">
    You can also drop me an email through this form and I'll get back to you as
    soon as I can.
  </p>

  <form
    class="flex flex-col bg-gray-200 py-5 px-6 rounded-md text-black"
    name="chenningg-contact-form"
    method="POST"
    netlify-honeypot="Bot catcher"
    data-netlify="true"
  >
    <div class="hidden">
      <label class="mb-1" for="Bot catcher">Bot Catcher:</label>
      <input class="h-10 border-2 px-4 mb-3" type="text" name="Bot catcher" />
    </div>

    <label class="mb-1" for="Your email">Your Email:</label>
    <input
      class="h-10 border-2 px-4 mb-3"
      type="email"
      name="Your email"
      required
    />

    <label class="mb-1" for="Subject">Subject:</label>
    <input
      class="h-10 border-2 px-4 mb-3"
      type="text"
      name="Subject"
      required
    />

    <label class="mb-1" for="Message">Message:</label>
    <textarea
      class="px-4 py-2 border-2 mb-4"
      rows="6"
      name="Message"
      required
    ></textarea>

    <button
      class="bg-white w-32 p-2 border-2 hover:bg-gray-800 hover:text-white mx-auto rounded-md"
      type="submit"
    >
      Submit
    </button>
  </form>
</div>

{{ end }}
