{{ define "main" }}

<section>
  <article class="container mx-auto mt-3 text-center p-6">
    <h1>{{- .Title -}}</h1>

    {{ with .Description }}

    <p>{{- . -}}</p>
    {{ end }}

    <div class="flex justify-center align-middle mt-3">
      {{ with .Params.author }}

      <a href="/about" class="inline-block text-sm font-medium"
        >{{ . }}</a
      >
      <p class="inline-block text-sm text-black">&nbsp;/&nbsp;</p>
      {{ end }}

      <time class="inline-block text-sm text-black"
        >{{ $.Date.Format "2 Jan, 2006" }}</time
      >
    </div>
  </article>
</section>

<section>
  <article class="container mx-auto p-6">{{ .Content }}</article>
</section>

{{ end }}
