{{ define "main" }}

<article class="container mx-auto mt-3 p-6">
  <section class="text-center mb-5">
    <h1>{{- .Title -}}</h1>

    {{ with .Description }}

    <p>{{- . -}}</p>
    {{ end }}

    <div class="flex justify-center align-middle mt-3">
      {{ with .Params.author }}

      <a href="/about" class="inline-block text-sm font-medium">{{ . }}</a>
      <span class="inline-block text-sm text-black">&nbsp;/&nbsp;</span>
      {{ end }}
 {{ with .Date }}

      <time class="inline-block text-sm text-black"
        >{{ $.Date.Format "2 Jan, 2006" }}</time
      >
      {{ end }}

    </div>
  </section>
  <section>
    {{ .Content }}

  </section>
</article>

{{ end }}
