/* Default overrides for tailwindcss */

/* Global */

/* Hide alpineJS elements until it initializes */
[x-cloak] {
  display: none;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-sans;
  @apply font-medium;
}

h1 {
  @apply text-4xl;
  @apply mb-2;
}

h2 {
  @apply text-3xl;
  @apply mb-4;
}

h3 {
  @apply text-2xl;
}

h4 {
  @apply text-xl;
}

h5,
h6,
p,
a,
li {
  @apply text-base;
}

article h3,
article h4,
article h5 {
  @apply mb-4;
}

article a {
  @apply text-blue-500;
}

article a:visited {
  @apply text-purple-600;
}

a:hover {
  @apply underline;
}

article p {
  @apply mb-6;
  @apply leading-7;
}

blockquote {
  @apply border-gray-300;
  @apply border-l-4;
  @apply pl-3;
}

/* Lists */
ol,
ul {
  @apply list-none;
  counter-reset: list-counter;
  @apply mb-5;
}

article li {
  @apply relative;
  counter-increment: list-counter;
  @apply pl-5;
  @apply mb-2;
}

article ol > li::before {
  content: counter(list-counter) ".";
  position: absolute;
  left: 0;
}

article ul > li::before {
  content: "•";
  position: absolute;
  left: 0;
}

/* Code and syntax */
pre > code {
  @apply rounded-lg;
  @apply p-3;
  @apply block;
  @apply mb-6;
  @apply overflow-x-auto;
}

code {
  background-color: #282a36;
  color: #f8f8f2;
  @apply px-2;
  @apply rounded-md;
  @apply inline-block;
  @apply text-sm;
  @apply leading-6;
}

/* Forms and buttons */
button:focus {
  @apply outline-none;
}

/* Images */
figure {
  @apply text-center;
  @apply block;
  @apply mb-5;
}

picture {
  @apply inline-block;
  @apply mx-auto;
  @apply bg-gray-200;
}
