<div x-data="{ tab: 'new' }">
  <!-- Blog content tabs -->
  <div class="flex justify-left align-middle">
    <button
      @click="tab = 'new'"
      :class="{ 'border-b-2 border-indigo-500': tab === 'new' }"
      class="h-8 bg-gray-200 px-3 rounded-none"
    >
      New
    </button>
    <button
      @click="tab = 'featured'"
      :class="{ 'border-b-2 border-indigo-500': tab === 'featured' }"
      class="h-8 bg-gray-200 px-3 rounded-none"
    >
      Featured
    </button>
    <button
      @click="tab = 'top'"
      :class="{ 'border-b-2 border-indigo-500': tab === 'top' }"
      class="h-8 bg-gray-200 px-3 rounded-none"
    >
      Top
    </button>
  </div>

  <hr />

  <!-- New content -->
  <ul x-show="tab === 'new'" class="mb-4">
    {{ $paginator := .Paginate (where .Site.RegularPages "Section" "blog") }}

    {{- range $paginator.Pages -}}

    <li>
      <a
        href="{{- .Permalink -}}"
        class="w-full h-full block p-3 hover:no-underline hover:bg-gray-200"
      >
        <h3 class="text-lg">{{- .Title -}}</h3>
        <p>{{- .Description -}}</p>
      </a>
      <hr />
    </li>
    {{- end -}}
  </ul>
  
  {{ partial "pagination.html" . }}

  <!-- Featured content -->
  <ul x-show="tab === 'featured'">
    {{ range (where (where .Site.RegularPages "Section" "blog") ".Params.featured" true) }}

    <li>
      <a
        href="{{ .Permalink }}"
        class="w-full h-full block p-3 hover:no-underline hover:bg-gray-200"
      >
        <h3>{{ .Title }}</h3>
        <p>{{ .Description }}</p>
      </a>
    </li>
    <hr />
    {{ end }}

  </ul>
</div>
