<head lang="{{ .Site.LanguageCode }}">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    {{- .Site.Title -}}

  </title>
  <meta
    name="description"
    content="{{ if .IsHome }}{{ $.Site.Params.description }}{{ else }}{{ .Description }}{{ end }}"
  />

  <link
    rel="apple-touch-icon"
    sizes="180x180"
    href="/favicons/apple-touch-icon.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="/favicons/favicon-32x32.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="/favicons/favicon-16x16.png"
  />
  <link rel="manifest" href="/site.webmanifest" />

  {{- with .Site.GoogleAnalytics -}}

  {{ template "_internal/google_analytics_async.html" $ }}
 {{- end -}}

  {{- $css := resources.Get "css/main.css" | postCSS | minify | fingerprint -}}

  {{- $js := resources.Get "js/main.js" | js.Build | minify | fingerprint -}}


  <link rel="stylesheet" href="{{ $css.RelPermalink }}" />
  <script src="{{ $js.RelPermalink }}" defer></script>
</head>
