<head lang="{{ .Site.LanguageCode }}">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    {{- .Site.Title -}}

  </title>
  <meta
    name="description"
    content="{{ if .IsHome }}{{ $.Site.Params.description }}{{ else }}{{ .Description }}{{ end }}"
  />

  <link
    rel="apple-touch-icon"
    sizes="180x180"
    href="/favicons/apple-touch-icon.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="/favicons/favicon-32x32.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="/favicons/favicon-16x16.png"
  />
  <link rel="manifest" href="/site.webmanifest" />

  {{- with .Site.GoogleAnalytics -}}

    {{ template "_internal/google_analytics_async.html" $ }}
  {{- end -}}


  {{- $css := "Css bundle" -}}

  {{- $mainCss := resources.Get "css/main.css" | postCSS -}}
  {{- $codeHighlightCss := resources.Get "css/prism.css" -}}

  {{ $js := "Javascript bundle" }}

  {{- $codeHighlightJs := resources.Get "js/prism.js" -}}
  {{- $mainJs := resources.Get "js/main.js" | js.Build -}}

  {{- if .Params.codeHighlight -}}
    {{- $css = slice $mainCss $codeHighlightCss | resources.Concat "css/bundle.css" | minify | fingerprint -}}
    {{- $js = slice $mainJs $codeHighlightJs | resources.Concat "js/bundle.js" | minify | fingerprint -}}
  {{- else -}}
    {{- $css = $mainCss | minify | fingerprint -}}
    {{- $js = $mainJs | minify | fingerprint -}}
  {{- end -}}
  

  <link rel="stylesheet" href="{{ $css.RelPermalink }}" />
  <script src="{{ $js.RelPermalink }}" defer></script>
</head>
