<head lang="{{ .Site.LanguageCode }}">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    {{- .Site.Title -}}

  </title>
  <meta name="description" content="test" />

  {{ $css := resources.Get "css/main.css" | postCSS | minify | fingerprint }}

  {{- $js := resources.Get "js/main.js" | js.Build "js/main.js" | minify | fingerprint -}}

  <link rel="stylesheet" href="{{ $css.RelPermalink }}" />
  <script src="{{ $js.RelPermalink }}" defer></script>
</head>
