<header class="z-20">
  <!-- Desktop menu -->
  <div class="w-full h-16 bg-white border border-b hidden md:block">
    <div class="container mx-auto flex justify-between px-6">
      <!-- Logo -->
      <div class="h-16 w-32 flex justify-left items-center">
        <a href="/" class="text-black font-bold text-xl hover:no-underline pb-2"
          >{{- with .Site.Params.author -}}
 {{- . -}}
 {{- else -}}
 Logo
          {{- end -}}</a
        >
      </div>

      <!-- Main nav -->
      <nav class="h-16 text-black font-medium block">
        <div class="h-full flex flex-row items-center justify-center">
          {{ range .Site.Menus.main }}

          <a href="{{ .URL }}" class="mx-4 mb-1 text-base">{{ .Name }}</a>
          {{ end }}

        </div>
      </nav>

      <!-- Placeholder block to center main nav -->
      <div class="h-16 w-32 flex justify-end items-center">
        {{ partial "search.html" . }}

      </div>
    </div>
  </div>

  <!-- Mobile menu -->
  <div class="w-full h-16 bg-white border border-b md:hidden">
    <div class="w-full px-6 flex justify-between">
      <!-- Logo -->
      <div class="h-16 flex justify-center items-center">
        <a href="/" class="text-black font-bold text-xl hover:no-underline pb-2"
          >Chen Ning</a
        >
      </div>

      <!-- Menu -->
      <div
        x-data="{open: false}"
        class="flex justify-end items-center md:hidden"
      >
        <!-- Search -->
        {{ partial "search.html" . }}

        <!-- Menu button -->
        <button
          @click="open = true"
          aria-label="Open menu"
          class="flex flex-col justify-center items-center h-8 w-8 space-y-1 cursor-pointer ml-3"
        >
          <span class="w-6 h-1 rounded-full bg-black"></span>
          <span class="w-6 h-1 rounded-full bg-black"></span>
          <span class="w-6 h-1 rounded-full bg-black"></span>
        </button>

        <!-- Mobile nav -->
        <nav
          x-show="open"
          x-cloak
          @click.away="open = false"
          class="fixed inset-y-0 right-0 w-64 bg-gray-100 z-40 shadow-lg md:hidden"
        >
          <div class="w-full h-full flex flex-col">
            <!-- Heading -->
            <div
              class="flex flex-row justify-between items-center w-full h-16 bg-gray-200 px-6 border border-b"
            >
              <h5 class="text-black pt-2">Menu</h5>

              <button
                @click="open = false"
                aria-label="Close menu"
                class="flex flex-col justify-center items-center h-8 w-8 space-y-1 cursor-pointer"
              >
                <span
                  class="w-6 h-1 rounded-full bg-black transform rotate-45 translate-y-1"
                ></span>
                <span
                  class="w-6 h-1 rounded-full bg-black transform -rotate-45 -translate-y-1"
                ></span>
              </button>
            </div>

            <!-- Menu items -->
            <div
              class="flex flex-col items-center justify-start text-black px-6 py-5 space-y-5"
            >
              {{ range .Site.Menus.main }}

              <a href="{{ .URL }}" class="w-full block text-base font-medium"
                >{{ .Name }}</a
              >
              {{ end }}

            </div>
          </div>
        </nav>

        <!-- Darken background when main nav is open -->
        <div
          x-cloak
          x-show="open"
          class="fixed bg-black opacity-25 inset-0 z-30"
        ></div>
      </div>
    </div>
  </div>
</header>
